// Custom styles.
//背景图片
body{   
        background:url(https://i.loli.net/2019/06/26/5d12ddccca79f36796.png);
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center;
     }
//顶栏图片
.header {
          background:rgba(0 0 0,0.5);
}
//底栏背景色
.footer {
          background:rgba(0 0 0,0.5);
}
.footer-inner {color: #FFFACD;}
//侧栏图片及内部文字颜色修改
#sidebar {
			background:rgba(0 0 0,0.5);
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
            p,span,a {color: #FFFACD;}
}

//侧边栏置于左侧
.sidebar {
  left: 0;
}
//侧栏开关置于左侧
.sidebar-toggle {
  left: $b2t-position-right;
}
// 主页文章添加阴影效果
.post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   background:rgba(255,255,255,0.9) none repeat scroll !important;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

//文章摘要配图
//图片外部的容器方框，限制图片大小
.out-img-topic {
  display: block;
  max-height:500px;
  margin-bottom: 24px;
  overflow: hidden;
}
//图片
img.img-topic {
  display: block ;
  margin-left: .7em;
  margin-right: .7em;
  padding: 0;
  float: right;
  clear: right;
}
.content {
	border-radius: 20px; //文章背景设置圆角
	padding: 30px 60px 30px 60px;
	background:rgba(255, 255, 255, 0.5) none repeat scroll !important;
}
